<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Test report dashboard</h2>
    <div class="inner">
      <div class="mainborder" align="center">
        <p class="border">Regression test charts</p>
        <img src="<%= @regression_last_build_chart.to_url %>"/>
        <img src="<%= @regression_last_10build_chart.to_url %>"/>
        <img src="<%= @regression_last_10test_runs_graph.to_url %>"/>
        <p class="border">Smoke test charts</p>
        <img src="<%= @smoke_last_build_chart.to_url %>"/>
        <img src="<%= @smoke_last_10build_chart.to_url %>"/>
        <img src="<%= @smoke_last_10test_runs_graph.to_url %>"/>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>