<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:test_cases, :index) %></li>
      <li><%= link_to pat(:new), url(:test_cases, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:test_cases, :edit, :id => @test_case.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:test_case) %></h2>
    <div class="inner">
      <% form_for :test_case, url(:test_cases, :update, :id => @test_case.id), :method => :put, :class => :form do |f| %>
        <%= partial "test_cases/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
