<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to pat("Test runs summary"), url(:test_runs, :index) %></li>
      <li class="first active"><%= link_to pat("Test cases for build #{@build_name}"), url(:test_cases, :index, {:build_id => @build_name}) %></li> 
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><!--<%= pat("Test cases for build #{@build_name}") %> <% mt(:test_cases) %>--></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
          <th><%= mat(:test_case, :test_group) %></th>
          <th><%= mat(:test_case, "Test steps") %></th>
          <th><%= mat(:test_case, "Steps passed") %></th>
          <th><%= mat(:test_case, "Steps failed") %></th>
          <th><%= mat(:test_case, "Success rate") %></th>
          <th><%= mat(:test_case, :duration) %></th>          
        </tr>
        <% @test_cases.each_with_index do |test_case, index| %>
        <% @success_rate = ((test_case.test_steps.to_i - @fail_array[index].to_i).to_f/test_case.test_steps.to_f)*100 %>
        <% @formatted_rate = sprintf("%.2f", @success_rate) %>
        <% @cell_color = "#33CC33" if @success_rate == 100.00 %>
        <% @cell_color = "#EB3333" if @success_rate < 100.00 %>
        <% @formatted_duration = sprintf("%.2f", test_run.duration.to_f) %>
        <tr>
          <td class="first">
          <td><%= link_to pat("#{test_case.test_group}"), url(:test_cases, :specific, {:test_group => test_case.test_group, :build_id => @build_name}) %></td>
          <td><%= test_case.test_steps %></td>
          <td><%= @pass_array[index] %></td>
          <td><%= @fail_array[index] %></td>
          <td bgcolor=<%= @cell_color %>><%= @formatted_rate %></td>
          <td><%= @formatted_duration + "s" %></td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>