<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to pat("Test suites summary"), url(:test_suites, :index) %></li>
      <li><%= link_to pat("Test runs summary for #{@test_suite}"), url(:test_runs, :index, {:test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></li>
      <li><%= link_to pat("Test cases for build #{@build_name}"), url(:test_cases, :index, {:build_id => @build_name, :test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></li> 
      <li class="first active"><%= link_to pat("#{@test_group}"), url(:test_cases, :specific, {:test_group => @test_group, :build_id => @build_name, :test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><!--<%= pat("#{@test_group}") %> <% mt(:test_cases) %>--></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
          <th><%= mat(:test_case, "Description") %></th>
          <th><%= mat(:test_case, "Expected result") %></th>
          <th><%= mat(:test_case, :execution_result) %></th>
          <th><%= mat(:test_case, :exception) %></th>
          <th><%= mat(:test_case, :pending_message) %></th>
          <th><%= mat(:test_case, :backtrace) %></th>
          <th><%= mat(:test_case, :metadata) %></th>
          <th><%= mat(:test_case, :duration) %></th>          
        </tr>
        <% @test_cases.each do |test_case| %>
        <% @cell_color = "#33CC33" if test_case.execution_result.include? "passed" %>
        <% @cell_color = "#EB3333" if test_case.execution_result.include? "failed" %>
        <% code_snippet = "Show code snippet" if test_case.execution_result.include? "failed" %>
        <% @formatted_duration = sprintf("%.2f", test_case.duration.to_f) %>
        <tr>
          <td class="first">
          <td><%= test_case.context %></td>
          <td><%= test_case.description %></td>
          <td bgcolor=<%= @cell_color %>><%= test_case.execution_result %></td>
          <td><%= test_case.exception %></td>
          <td><%= test_case.pending_message %></td>
          <td><%= test_case.backtrace %></td>
          <td><a href="javascript:void(0)" data-value='<%= test_case.metadata %>' class="stacktrace"><%= code_snippet %></a>
          </td>
          <td><%= @formatted_duration + "s" %></td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<div class="dialog-message" title="Code snippet" style="display:none;">
</div>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {

    $(".dialog-message").dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      },
      minWidth: 1100,
      autoOpen: false
      });

    $(".stacktrace").on("click", function(){
      $(".dialog-message").html($(this).data('value'));
      $(".dialog-message").dialog( "open" );
    });
  });
</script>