<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat("Test runs summary") %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><!--<%= pat(:all) %> <% mt(:test_runs) %>--></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
          <th><%= mat(:test_run, :build) %></th>          
          <!--<th><%= mat(:test_run, :computer_name) %></th>-->
          <th><%= mat(:test_run, "Execution started at") %></th>
          <th><%= mat(:test_run, "Execution finished at") %></th>
          <th><%= mat(:test_run, :example_count) %></th>
          <th><%= mat(:test_run, :failure_count) %></th>
          <th><%= mat(:test_run, :pending_count) %></th>
          <th><%= mat(:test_run, "Success rate") %></th>
          <th class="last"><%= mat(:test_run, :duration) %></th>
        </tr>
        <% @test_runs.each do |test_run| %>
        <% @success_rate = ((test_run.example_count.to_i - test_run.failure_count.to_i).to_f/test_run.example_count.to_f)*100 %>
        <% @formatted_rate = sprintf("%.2f", @success_rate) %>
        <% @cell_color = "#33CC33" if @success_rate == 100.00 %>
        <% @cell_color = "#EB3333" if @success_rate < 100.00 %>
        <% @formatted_duration = sprintf("%.2f", test_run.duration.to_f) %>
        <tr>
          <td class="first">
          <td><%= link_to pat("#{test_run.build}"), url(:test_cases, :index, {:build_id => test_run.build}) %></td>       
          <!--<td><%= test_run.computer_name %></td>-->
          <td><%= test_run.created_at %></td>
          <td><%= test_run.updated_at %></td>
          <td><%= test_run.example_count %></td>
          <td><%= test_run.failure_count %></td>
          <td><%= test_run.pending_count %></td>
          <td bgcolor=<%= @cell_color %>><%= @formatted_rate + "%" %></td>
          <td><%= @formatted_duration + "s" %></td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="digg_pagination">
          <%= will_paginate @test_runs, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>